<div id="main">
  <section class="post">
    <header class="major">
      <h3 class="date">Listado de
        <br>ciclistas</h3>
    </header>

    <div class="field" style="float: right">
      <label for="name">Nombre</label>
      <input [(ngModel)]="name" type="text" name="name" id="name" />

    </div>
    <br>
    <br>
    <br>
    <div style="float: right;">
      <button (click)="searchCyclist(name)">
        Buscar
      </button>
    </div>
    <br>
    <br>
    <div style="float: right;">
      <button (click)="cleanSearch(name)">
        Limpiar busqueda
      </button>
    </div>
    <div class="date" *ngFor="let oneCyclist of cyclist">
      <p>
        <b>Nombre:</b> {{oneCyclist.name}}
        <br>
        <b>Apellido:</b> {{oneCyclist.surname}}
        <br>
        <button (click)="updateCyclist(oneCyclist)">
          Actualizar
        </button>
        <button (click)="deleteCyclist(oneCyclist)">
          Eliminar
        </button>
      </p>
    </div>
  </section>
</div>