<!-- Main -->
<div id="main">
  <!-- Post -->
  <section class="post">
    <header class="major">
      <h3 *ngIf="create" class="date">Añade
        <br>ciclista</h3>
      <h3 *ngIf="!create" class="date">Editar
        <br>ciclista</h3>
    </header>
    <!-- <form> -->
    <div class="field">
      <label for="name">Nombre</label>
      <input [(ngModel)]="cyclist.name" type="text" name="name" id="name" />
    </div>
    <div class="field">
      <label for="name">Apellidos</label>
      <input [(ngModel)]="cyclist.surname" type="text" name="name" id="name" />
    </div>
    <ul class="actions">
      <br>
      <button *ngIf="create" (click)="createCyclist(cyclist)">
        Crear ciclista
      </button>
      <button *ngIf="!create" (click)="updateCyclist(cyclist)">
        Actualizar ciclista
      </button>
    </ul>
    <!-- </form> -->
  </section>

</div>